/* General rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.a-none {
    text-decoration: none;
    color: hsl(0deg 0% 34%);
}

/* end general rules */
/* utilities */
.button-normal {
    width: 200px;
    height: 30px;
    color: aliceblue;
    border: none;
    background-color: hsl(217deg 100% 50%);
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.zero-auto {
    margin: 0 auto;
}

.fixed-width {
    max-width: 1000px;
}

/*  end utilities */
/* header rules */

.fixed-header {
    display: flex;
    background-color: hsl(0deg 0% 100%);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
}

.fixed-header-logo {
    display: flex;
    align-items: center;
    font-weight: 100;
}

.fixed-header-logo>* {
    margin: 10px;
}

.button-small {
    width: 70px;
    height: 30px;
    background-color: hsl(217deg 100% 50%);
    color: aliceblue;
    border: none;
}

.jumbo {
    background-color: hsl(207deg 52% 81%);
    height: 570px;
}

.jumbo-contetn,
.plans,
.sell-office {
    display: flex;
}

#jumbo-img {

    width: 700px;
}

.jumbo-title {
    font-size: 50px;
    font-weight: 1000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.jumbo-span {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
}

/* end header rules */
/* main rules */
.container {
    margin: 80px auto;
}

.plan {
    max-width: calc(100% / 3 -10px);
    border: 1px green solid;
    margin: 10px;
}

.bottom-border {
    border-bottom: 1px green solid;
}

.felx-sell-office {
    display: flex;
    justify-content: space-between;
}

.sell-office {
    display: flex;
    flex-direction: column;
    border: 1px green solid;
    margin: 10px;
}

/* Section of partner */
.partner {
    max-width: 100%;
    margin: 80px auto;
}

#partner-img {
    width: 500px;
}

.text-partner {
    margin: 30px;
}

.text-partner>* {
    margin: 20px 0px 20px 0px;
}

.white-button {
    width: 120px;
    height: 30px;
    border: 1px solid grey;
    background-color: white;
}

.cards {
    max-width: 100%;
    margin: 0 auto;
}

.card {
    max-width: calc(90% / 3);
    margin: 40px 10px 0px 10px;
}

.img-card {
    max-width: 300px;
}

.clients {
    margin: 80px 0px 80px 0px;
}

/* End main rules */
/* footer rules */
/* end footer rules */