/* General rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: hsl(0deg 0% 34%);
}

.button-normal {
    width: 200px;
    height: 30px;
    color: aliceblue;
    border: none;
    background-color: hsl(217deg 100% 50%);
    margin-top: 30px;
    margin-bottom: 30px;
}

/* end general rules */
/* header rules */

.fixed-header {
    display: flex;
    background-color: hsl(0deg 0% 100%);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
}

.fixed-header-logo {
    display: flex;
    align-items: center;
    font-weight: 100;
}

.fixed-header-logo>* {
    margin: 10px;
}

.button-small {
    width: 70px;
    height: 30px;
    background-color: hsl(217deg 100% 50%);
    color: aliceblue;
    border: none;
}

.jumbo {
    background-color: hsl(207deg 52% 81%);
    height: 570px;
    display: flex;
    flex-direction: column;
}

.jumbo-contetn {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

#jumbo-img {

    width: 700px;
}

.jumbo-title {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 1000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.jumbo-span {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
}

/* end header rules */
/* main rules */
/* end main rules */
/* footer rules */
/* end footer rules */